@import url('fonts.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans 7pt', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}

.header {
    background-color: #131313;
    min-height: 83px;
    display: flex;
    align-items: center;
    padding: 0 92px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 180px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color:  #E3B873;
    text-transform: uppercase;
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 47px;
}

.header__link {
    text-decoration: none;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.header__link__color {
    color: #E3B873;
}

.header__link__txt-dec {
    text-decoration: underline;
}

.header__wrapper-call {
    display: flex;
    gap: 45px;
    align-items: center;
}

.header__btn {
    width: 161px;
    min-height: 37px;
    padding: 13px 33px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.hero {
    min-height: 707px;
    background-image: url(../images/jpg/background-1.jpg);
    position: relative;
    padding-top: 194px;
    padding-left: 134px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.hero__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.hero__title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.hero__title__color {
    color: #E3B873;
}

.hero__text {
    margin: 0;
    font-style: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.hero__wrapper-btn {
    display: flex;
    gap: 20px;
}

.hero__btn {
    width: 207px;
    min-height: 51px;
    border-radius: 2px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.hero__btn-1 {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: none;
}

.hero__btn-2 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

.info-block {
    min-height: 1074px;
    background-color: #131313;
    padding-top: 107px;
    padding-left: 134px;
}

.info-block__container {
    display: flex;
    gap: 50px;
}

.info-block__text {
    display: flex;
    flex-direction: column;
}

.info-block__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
    margin-bottom: 34px;
    margin-top: 69px;
}

.info-block__text {
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.info-block__text-wrapper {
    display: grid;
    grid-template-columns: 161px 213px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 29px;
    margin-bottom: 79px;
}

.info-block__text-wrapper-item {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.info-block__subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    color: #E3B873;
}

.info-block__details {
    font-style: normal;
    font-size: 13px;
    line-height: normal;
    color: #FFFFFF;
}

.info-block__photo {
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.info-block__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
}

.info-block__link {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.info-block__link__style {
    color: #E3B873;
    text-decoration: underline;
}

.broadcast {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-top: -323px;
}

.broadcast__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.broadcast__title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.broadcast__icon {
    margin-bottom: 31px;
}

.broadcast__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
}

.broadcast__img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.broadcast__img-icon {
    position: absolute;
    z-index: 1;
}

.broadcast__line {
    margin-bottom: 34px;
}

.broadcast__text {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-bottom: 91px;
}

.broadcast__form {
    display: flex;
    gap: 58px;
}

.broadcast__form-item {
    display: flex;
}
